
<!--Import base.html and bootstrap-->
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!--Blocking title-->
{% block title %}Add A New Cafe{% endblock %}

<!--Blocking style-->
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

<!--Blocking content-->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will go -->
      {{ wtf.quick_form(form, novalidate=True) }}
      <!--Directs to the cafes.html-->
	  <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
